<!-- 版本1 -->
<div class='scenario-comp'>
   
    <div class='scenario-01 scenario-grp'><img src=""/></div>
    <div class='scenario-02 scenario-grp'><img src=""/></div>
    <div class='scenario-03 scenario-grp'><img src=""/></div>
    <div class='scenario-04 scenario-grp'><img src=""/></div>
    <div class='scenario-05 scenario-grp'><img src=""/></div>

    <div class='scenario-06 scenario-grp'><img src=""/></div>

    <div class='scenario-07 scenario-grp'><img src=""/></div>

    <div class='scenario-08 scenario-grp'><img src=""/></div>

    <div class='scenario-09 scenario-grp'><img src=""/></div>

</div> 