/*------- COLOR -------*/
/*------- Guideline -------*/
/*------- MIXIN -------*/
/*------- BASE -------*/
/* line 98, ../sass/base.scss */
body {
  font-family: PingFangSC-Light, sans-serif;
}

/* line 104, ../sass/base.scss */
ul {
  list-style: none;
}
/* line 108, ../sass/base.scss */
ul li {
  cursor: pointer !important;
}

/* line 114, ../sass/base.scss */
li {
  list-style: none;
  cursor: pointer !important;
}

/* line 119, ../sass/base.scss */
a {
  text-decoration: none;
  display: block;
}
