

<!-- 版本1 -->
<ul class='data-comp'>
    <li class="database"> 
        <div class="title">
            <h2>今年一共收看了幾部電視劇</h2>
        </div>
        
        <div class='number-container'>
            <img class="percent" src="http://fakeimg.pl/135x95/">
            <p class="result">
                今年收看過4~6部電視劇
            </p>
        </div>
        
        <div class="text">
            88%有收看電視劇的受訪者中，35% 的人今年收看過 4~6 部電視劇；30% 的人今年看過 10 部以上。
        </div>
        <div class="list">
            
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
        
        </div>
    </li>

</ul> 


<!--  版本2  -->
<ul class='data-comp'>
    <li class="database"> 
        <div class="title">
            <h2>今年一共收看了幾部電視劇</h2>
        </div>
        
        <div class='number-container'>
            <img class="percent" src="http://fakeimg.pl/135x95/">
            <p class="result">
                今年收看過4~6部電視劇
            </p>
        </div>
        
        <div class="text">
            88%有收看電視劇的受訪者中，35% 的人今年收看過 4~6 部電視劇；30% 的人今年看過 10 部以上。
        </div>
        <div class="list">
            
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
            <span>1~3 部 ─── 22%</span>
        
        </div>
    </li>

</ul> 